body {
  width: 100%;
}

.flexbox {
  display: flex;
  position: fixed;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 0.2em;
  left: 0;
  right: 0;
  justify-content: space-between;
  z-index: 1;
  top: 0;
  height: 2.5em;
  font-size: 2em;
  background-color: white;
}

#entete {
	background-image: url('../images/header.png');
	background-repeat: no-repeat;
	background-position: center;
	height: 500px;
}

.mainTitle {
	font-size: 70px;
	text-transform: uppercase;
	padding-top: 100px;
  text-align: center;
  letter-spacing: 30px;
  width: calc(100% - 1050px);
  margin-left: 13.5em;
}

.secondaryTitle {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 20px;
	font-size: 16px;
  width: calc(100% - 1050px);
  margin-left: 62.5em;
}

.introduction {
	padding-top: 250px;
	text-align: center;
  width: calc(100% - 60em);
  margin-left: 10em;
}

hr.separation {
	width: 50%;
	margin-top: 60px;
	float: right;
}

hr.separation2 {
	width: 50%;
	margin-top: 60px;
}

.aboutTitle {
  letter-spacing: 20px;
  text-transform: uppercase;
  margin-top: 130px;
  font-size: 40px;
  padding-right: 20%;
  position: relative;
}

.titleProjets{
 letter-spacing: 20px;
 text-transform: uppercase;
 margin-top: 1em;
 font-size: 40px;
}

.imageAbout {
  background-image: url('../images/about.png');
  height: 380px;
  -webkit-box-shadow: 80px -90px 2px -50px;
  -moz-box-shadow: 80px -90px 2px -50px;
  box-shadow: 80px -90px 2px -50px #4f6685;
}


.imageContact {
  background-image: url('../images/about.png');
  background-repeat: no-repeat;
  width: 20em;
  height: 380px;
  box-shadow: 80px -60px 2px -20px #4f6685;
}


*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}
.container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 95%;

  margin: auto;
  border: 1px solid black;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content-separation {
  border-top: 1px solid grey;
}
.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-top{
  top: 20%;
}

.petitesImages {
  width: 50px;
  height: 100%;
}

.bouton {
  background-color: #4f6685;
  color: white;
  text-decoration: none;
  padding: 10px;
}

.bouton:hover, .boutonProjet:hover {
  color: grey;
}

.boutonProjet {
  color: white;
  padding: 10px;
  text-decoration: none;
  border: 1px solid white;
}

.noLink {
  text-decoration: none;
}

.form-control {
  border: 1px solid #4f6685;
}

.footer-bottom {
  margin-top: 20px;
  background: #4f6685;
  padding: 30px;
  width: auto;
  color: white;
  font-size: 18px;
  text-align: center;

}

@media screen and (max-width: 480px){
  #entete {
    margin-top:  0px;
    height: 65vh;
  }
  .mainTitle, .secondaryTitle, .introduction {
    width: 100%;
    margin-left: 0vh;
  }
  .secondaryTitle {
    padding-top: 35px;
  }
  .introduction {
    padding-top: 5px;
    width: 90%;
    display: block;
    margin: auto;
  }
  .imageAbout {
    width:  80%;
    display: block;
    margin: auto;
    margin-top: 70px;
  }
  .aboutTitle {
    margin-top: 100px;
    padding-right: 0px;
  }
  .imageContact {
    width: 80%;
    margin-top: 50px;
  }
}

