#entete {
	background-image: url('../images/header.png');
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 100px;
	height: 500px;
}

.mainTitle {
	font-size: 70px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 100px;
	padding-left: 65%;
	letter-spacing: 30px;
}

.secondaryTitle {
	text-align: center;
	text-transform: uppercase;
	padding-left: 76%;
	letter-spacing: 20px;
	font-size: 16px;
}

.introduction {
	padding-top: 250px;
	padding-left: 5%;
	width: 600px;
	text-align: center;
}

hr.separation {
	width: 50%;
	margin-top: 60px;
	float: right;
}

hr.separation2 {
	width: 50%;
	margin-top: 60px;
}

.aboutTitle {
  letter-spacing: 20px;
  text-transform: uppercase;
  margin-top: 130px;
  font-size: 40px;
  padding-right: 20%;
  position: relative;
  z-index: 1;
}
.imageAbout {
  background-image: url('../images/about.png');
  height: 380px;
  -webkit-box-shadow: 80px -90px 2px -50px;
  -moz-box-shadow: 80px -90px 2px -50px;
  box-shadow: 80px -90px 2px -50px #4f6685;
}


*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}
.container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 95%;

  margin: auto;
  border: 1px solid black;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content-separation {
  border-top: 1px solid grey;
}
.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-top{
  top: 20%;
}

.petitesImages {
  width: 50px;
  height: 100%;
}